body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(106, 230, 209), rgb(209, 209, 97), rgb(117, 207, 117));
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Comfortaa';
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(219, 203, 203, 0.7));
    padding-top: 0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    font-family: 'Bruno Ace SC';
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 15px 15px -1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #2c3e50;
    padding-left: 0;
    padding-top: 0;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #2c3e50;
    padding-left: 5px;
    font-family: 'Bruno Ace SC';
    transition: font-size 0.25s ease-in-out;
}


h3:hover {
    font-size: 255%;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    color: rgb(78, 75, 75);
    padding: 0px;
}

table:hover {
    color: #000202;
}
  
td {
    padding-left: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease;
  }
  
img:hover {
    transform: scale(1.1);
  }

  
p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #2c3e50;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; /* set the default text alignment */
    transition: text-align 0.5s ease; /* set the transition effect */
}

ul {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 15px;
    color: #49043a;
    transition: color 0.5s ease-in-out;
}

ul:hover {
    color: #ec2020;
}

li {
    margin-bottom: 5px;
    padding-left: 20px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

hr {
    height: 1px;
    background-color: #c05c5c;
    border: inset;
    margin: 40px;
    width: 50%;
}

img {
    width: 80px;
}

img {
    width: 80px;
  }
  
  img:hover + #hi {
    display: block;
    transition: all 0.5s ease;
  }
  
  #hi {
    display: none;
  }