body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/background.jpg');
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Comfortaa';
    font-weight: 600;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(139, 247, 238, 0.7));
    padding: 0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    font-family: 'Bruno Ace SC';
    position: sticky;
    top: 0;
    box-shadow: 0 15px 15px -1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
}

h1,
h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 36px;
    text-decoration: underline dashed;
    margin-bottom: 10px;
    color: #2c3e50;
    padding-left: 4%;
    padding-top: 0;
    transition: font-size 0.2s ease-in-out;
}

h1:hover {
    font-size: 250%;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #2c3e50;
    padding-left: 5px;
    font-family: 'Bruno Ace SC';
    text-decoration: underline dashed;
    transition: font-size 0.25s ease-in-out;
}

h3:hover {
    font-size: 200%;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font-weight: 1000;
    color: rgb(78, 75, 75);
    padding: 0px;
    margin-bottom: 20px;
}

table:hover {
    color: #000202;
}

td {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

img:hover {
    transform: scale(1.2);
}

.image-container:hover {
    transform: scale(1.1);
}

.image-container {
    display: inline-block;
    /* Keeps the container's size based on the image */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    /* Makes the container and image circular */
    overflow: hidden;
    /* Ensures the shadow is visible within the circular shape */
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
}


p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #2c3e50;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 1000;
    text-align: center;
    /* set the default text alignment */
    transition: text-align 0.2s ease-in-out;
    /* set the transition effect */
}

ul {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 15px;
    color: #49043a;
    transition: color 0.2s ease-in-out;
}

li {
    margin-bottom: 5px;
    padding-left: 10px;
}

a {
    color: #2980b9;
    text-decoration: underline dotted;
}

a:hover {
    color: blue;
}

hr {
    height: 1px;
    background-color: #c05c5c;
    border: none;
    margin: 20px;
}

img {
    width: 80px;
}

.squicircle-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgba(166, 203, 233, 0.301);
    border-radius: 35px;
    /* Adjust the second value to control the squircle shape */
    font-size: 20px;
    color: rgb(80, 30, 30);
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 2%;
}

hr {
    width: auto;
    border: #000202;
}